.tela_inicial h1{
    font-size: 3.5em; /* Tamanho da fonte maior */
}

.tela_inicial p{
    margin-bottom: 2em; /* Espaçamento maior abaixo do parágrafo */
    color: yellow; /* Cor do texto do parágrafo */
}