.css_telajogando h1{
    font-size: 2.5em;

}

.css_pontuacao span{
    font-weight: bold;
}

.css_dica span{
    color: #ecfa00 ;
}

.css_tentativa span{
    color: #ffffff ;
    font-size: 70px;
}

.css_container_palavra{
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid #ecfa00;
    display: flex;
}
.css_quadrado_branco , .css_letras {
    font-size: 70px;
    line-height: 1.5 ;
    border:3px solid black ;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: white;
    color: black;
    font-weight: bold;

}

.css_container_letra p{
    margin-bottom: 1.2em;
}

.css_container_letra form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.css_container_letra input{
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}

.css_letras_erradas{
    font-size: 1em;
    font-size: 20px;
}